body, head {
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url('../../../bg.png');
    background-position: center;
    background-size: cover;
}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.navbar{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.go-to{
    width: 70%;
    display: flex;
    justify-content: center;
}

.navbar a{
    width: 15%;
    height: 100px;
    height: auto;
    display: inline-block;
    text-align: center;
    align-items: center;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    color: black;
    border-radius: 15px;
}

.navbar a:hover{
    background-color: azure;
    color: #4f46e5;
}

.content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heading{
    text-align: center;
}

.heading h1{
    font-size: 45px;
}

.heading p{
    font-size: 30px;
}

.heading a{
    text-decoration: none;
}

.blog-main{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blog-content{
    width: 60%;
    height: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    text-align: center;
    letter-spacing: 2px;
    font-size: 20px;
    margin-top: 20px;
}
